:root{
    /*
    *
    *   Colors
    *
    */
    --main_color: #ffaf40;
    --main_dark_color: #3d3d3d;
    /*--main_dark_color: #636e72;*/
    /*
    *
    *   Margin & Padding
    *
    */
    --main-side: 15px;
    --main-margin-all-sides: var(--main-side);
}
